* {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  font-style: normal;
  line-height: normal;
}

body {
  margin: 0;
  padding: 0;
}

.page-wraper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 1230px;
  height: 100%;
  margin: 0 auto;
}

.logo img {
  max-width: 100px;
}

.btn {
  display: flex;
  padding: 8px 16px;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

.btn span {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.btn--blue {
  border-radius: 2px;
  background: #1890FF;
  border: 1px solid #1890FF;
}

.btn--blue span {
  color: #FFF;
}

.btn--white {
  border-radius: 2px;
  border: 1px solid #D9D9D9;
  background: #FFF;
}

.btn--white span {
  color: #595959;

}

.main {
  background: linear-gradient(180deg, rgba(245, 245, 245, 0.00) 1.04%, #F5F5F5 100%);
}

.banner {
  margin-bottom: 56px;
}

.banner-item {
  background-image: url(./images/main/banner.jpg);
  padding: 68px;
  border-radius: 10px;
  background-size: cover;
  background-position: right;
}

.banner-item--title {
  color: #302C34;
  font-size: 39px;
  font-weight: 700;
  max-width: 50%;
  margin: 0;
}

.banner-item--subtitle {
  color: #302C34;
  font-size: 24px;
  font-weight: 400;
  max-width: 50%;
  margin-top: 15px;
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
}

.search-title {
  color: #000;
  font-size: 36px;
  font-weight: 700;
  margin: 0;
}

.search-input {
  min-width: 306px;
  padding: 5px 12px;
}

.search-input::placeholder {
  color: #BFBFBF;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.products-wraper {
  margin-top: 44px;
  margin-bottom: 90px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 24px;
}

.products-card {
  width: calc((100% - 48px) / 3);

  border-radius: 7px;
  background: #FFF;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.05);
  overflow: hidden;

  text-decoration: none;
}

.products-card_image,
.products-card_image img {
  width: 100%;
}

.products-card_description {
  padding: 20px 24px 34px 24px;
}

.description-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.description-row:not(:last-child) {
  margin-bottom: 10px;
}

.description-title {
  color: #000;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  margin: 0;
}

.description-badge {
  color: #FFF;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  padding: 1px 8px;
  border-radius: 2px;
  background: #262626;
}

.description-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 25px;
}

.description-info-raiting {
  color: #FFC107;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
}

.description-info-price {
  color: #8C8C8C;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
}

.description-info-group {
  color: #8C8C8C;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  position: relative;
}

.description-info-group::before {
  content: '';
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #8C8C8C;
  position: absolute;
  left: -14px;
  top: 14px;
}

.title {
  margin-bottom: 45px;
}

.title-inner {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
}

.title-name {
  color: #000;
  font-size: 36px;
  font-weight: 700;
  margin: 0;
}

.title-description {
  display: flex;
  align-items: center;
  gap: 26px;
}

.description-name {
  color: #000;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  margin: 0;
}

.description-text {
  color: #8C8C8C;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 30px;
}

.description-controls {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 30px;
}

.description-price {
  color: #000;
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
}

